# INVESTIGO Backend SmartASP config
NODE_ENV=production

# Recommended on SmartASP: use separate DB variables instead of DATABASE_URL.
DB_HOST=PG8001.site4now.net
DB_PORT=6432
DB_NAME=db_acc28e_invrsti
DB_USER=acc28e_invrsti
DB_PASSWORD=CHANGE_ME_NO_SPECIAL_SYMBOLS
DB_SSL=true

JWT_SECRET=Investigo_Jwt_Secret_Change_This_2026
ADMIN_SETUP_CODE=Invstg0_Admin_7Qp92LmX_2026
PUBLIC_BASE_URL=http://invrstigo-001-site1.dtempurl.com
